body {
  background-image: url("shield.png");
  background-repeat: repeat;
}
section#DowntownMiami {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section#LilHavana {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section##LittleHaiti {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section#NorthMiami {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section#Overtown {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

span.logo {
  padding-left: .5rem;
}
div.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
